@import "../main/main.component.scss";

.buttons-container {
    margin-left: 2rem !important;
    margin-top: 1rem;
}

.button-move {
    margin-top: 0.5rem;
}

.form-control {
    margin: 0px;
}

.progress {
    width: 94%;
    height: 14rem;
}

.content-container {
    height: 15rem !important;
}

.gap {
    height: 1.5rem;
}
