<div class="content-container">
  <h3 class="upper">Start your first scan</h3>  
  <h4>
    This last step is meant to validate the connection to your local target
    application.<br />
    Please provide the target URL:
  </h4>
  <form (ngSubmit)="onSubmit()" [formGroup]="targetForm" ngNativeValidate>
    <div class="form-control">
      <div class="form-group">
        <label for="url">Target URL:</label>
        <input  formControlName="targetUrl" name="url" type="url" required id="url" oninvalid="this.setCustomValidity('Type target URL. Example - http://my.server.com:8080')" oninput="setCustomValidity('')"/>
      </div>
    </div>
    <div class="button-move">
      <button type="submit" class="button-scan">Start Scan</button>
    </div>
  </form>
</div>
<div class="content-container">
  <h4 class="upper">Progress</h4>
    <div class="form-control progress">
      <div>
      <ng-template [ngIf]="scanStarted || currentColor">
        Trying to reach {{url}}...<br/>
      </ng-template>
      <p id="response-communication" class="response" [ngClass]="(currentColor == 'success')? 'success':'fail'"> {{progressMsg}} </p>
  </div>
  </div>
</div>
<div class="gap"></div>

<div class="buttons-container">
  <button class="button-prev" (click)="prev()">Prev</button>
  <button (click)="next()" [disabled]="!scanFinished || errorOccurred">Next</button>
</div>