<div class="content-container">
  <h3 class="upper">Start your first scan</h3>
  <h4>
    This last step is meant to validate the connection to your local target
    application.<br />
    Please provide the target URL:
  </h4>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-control">
      <div class="form-group">
        <label for="url">Target URL:</label>
        <input
          formControlName="url"
          name="url"
          type="url"
          placeholder="http://my.server.com:8080"
          required
        />
      </div>
    </div>
    <div class="button-move">
      <button type="submit" class="button-scan">Start Scan</button>
    </div>
  </form>
</div>
<div class="content-container">
  <h4 class="upper">Progress</h4>
  <div class="form-control progress">
    <div>
      <ng-template [ngIf]="scanStarted || code">
        Trying to reach {{ url }}...<br />
      </ng-template>
      <p class="response" [ngClass]="code === 200 ? 'success' : 'fail'">
        {{ code | status: url }}
      </p>
    </div>
  </div>
</div>
<div class="gap"></div>

<div class="buttons-container">
  <button class="button-prev" (click)="prev()">Prev</button>
  <button (click)="next()" [disabled]="!scanFinished || errorOccurred">
    Next
  </button>
</div>
