<div class="content-container">
  <h3>
    Welcome to NeuraLegion's Connectivity Wizard. <br />
    Please fill in the following information which was provided to you as part
    of the PoC kickoff email.
  </h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <div class="form-group">
        <label>Auth Token: </label>
        <secret-field
          formControlName="authToken"
          required
          autocomplete="on"
        ></secret-field>
      </div>
      <div class="form-group">
        <label>Repeater ID:</label>
        <secret-field
          formControlName="repeaterId"
          required
          autocomplete="on"
        ></secret-field>
      </div>
    </div>
    <div class="content-container gap"></div>
    <div class="buttons-container">
      <button class="button-prev" disabled>Prev</button>
      <button type="submit" [disabled]="form.invalid" class="button">
        Next
      </button>
    </div>
  </form>
</div>
