{
  "plugins": [
[
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          { "type": "docs", "release": "patch" },
          { "type": "refactor", "release": "patch" },
          { "type": "build", "release": "patch" },
          { "type": "revert", "release": "patch" }
        ],
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES"]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "parserOpts": {
          "noteKeywords": ["BREAKING CHANGE", "BREAKING CHANGES", "BREAKING"]
        },
        "presetConfig": {
          "types": [
            { "type": "feat", "section": "Features" },
            { "type": "perf", "section": "Performance Improvements" },
            { "type": "fix", "section": "Bug Fixes" },
            { "type": "docs", "section": "Documentation" },
            { "type": "revert", "section": "Reverts" },
            { "type": "build", "section": "Build System", "hidden": true },
            { "type": "chore", "section": "Build System", "hidden": true },
            {
              "type": "ci",
              "section": "Continuous Integration",
              "hidden": true
            },
            {
              "type": "refactor",
              "section": "Code Refactoring",
              "hidden": true
            },
            { "type": "style", "section": "Styles", "hidden": true },
            { "type": "test", "section": "Tests", "hidden": true }
          ]
        },
        "writerOpts": {
          "commitsSort": ["scope", "subject"]
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "npm version --no-git-tag-version --allow-same-version ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["package*.json"],
        "message": "chore(release): cut the ${nextRelease.version} release [skip ci]"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false
      }
    ],
    [
      "@semantic-release/github",
      {
        "labels": false,
        "releasedLabels": false,
        "failTitle": false,
        "failComment": false,
        "successComment": false
      }
    ]
  ],
  "branches": [
    {
      "name": "master"
    },
    {
      "name": "next",
      "channel": "next",
      "prerelease": true
    }
  ],
  "ci": true
}
