<div class="content-container">
  <h3>START YOUR FIRST SCAN</h3>
  <h4>
    This last step is meant to validate the connection to yor local target
    application.<br />
    Please provide the target URL:
  </h4>
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-control">
      <div class="form-group">
        <label for="url">Target URL: </label>
        <input [(ngModel)]="targetUrl" name="url" type="text" required id="url"/>
      </div>
    </div>
    <div class="button-move">
      <button type="submit" class="button-scan">Start Scan</button>
    </div>
  </form>
</div>
<div class="content-container">
  <h4>PROGRESS</h4>
  <div class="form-control progress">
    <div>{{tryMsg}} <br/> {{progressMsg}}</div>
  </div>
</div>

<div class="buttons-container">
  <button class="button-prev" (click)="prev()">Prev</button>
  <button (click)="next()" [disabled]="!scanStarted">Next</button>
</div>
