@import "../../app.component.scss";


.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-left: 0rem;
    width: 52rem;
}

button {
    color: White;
    width:8em;
    height:3em;
    background-color: $primary-blue;
    border-radius: 10px;
    border-color: White;
}

.button-prev {
    background-color: $primary-grey !important;
}

.form-control {
    width: 50%;
    margin-top: 2rem;
    border-color: black;
    border-width: thin;
    border-style: solid;
    display: inline-block;
    background-color: $neutral-grey;

    .form-group {
        padding: 20px;
        margin: 0px;
        display: inline-block;
    }
}

.gap {
    height: 13.5rem;
}

.button-scan {
    width:10em;
    height:4em;
    background-color: $secondary-blue;
}

.field-icon {
    float: right;
    margin-left: -2rem;
    margin-top: .4rem;
    position: relative;
    z-index: 2;
  }
  
