<div class="content-container">
  <h3>
    Welcome to NeuraLegion's Connectivity Wizard. <br />
    Please fill in the following information which was provided to you as part
    of the PoC kickoff email.
  </h3>
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-control">
      <div class="form-group">
        <label for="token">Auth Token: </label>
        <input
          [(ngModel)]="authToken"
          name="tohen"
          type="text"
          required
          id="token"
        />
      </div>
      <div class="form-group">
        <label for="repeater">Repeater ID: </label>
        <input
          [(ngModel)]="repeaterId"
          name="repeater"
          type="text"
          required
          id="repeater"
        />
      </div>
    </div>
    <div class="buttons-container">
      <button class="button">Prev</button>
      <button type="submit" class="button">Next</button>
    </div>
  </form>
</div>
