<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductName="Bright CLI" ?>
  <?define ProductAuthor="Bright Security Inc." ?>
  <?define ProductDescription="$(var.ProductName) is a CLI tool that can initialize, stop, polling and maintain scans in $(var.ProductAuthor)s solutions (Such as NexPloit)." ?>
  <?define RegistryKeyPath="SOFTWARE\$(var.ProductName)" ?>
  <Product Id="*" Name="$(var.ProductName)" UpgradeCode="74b15b74-a063-4524-ae83-69ad421be456" Language="1033" Codepage="1252" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductAuthor)">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Property Id="ARPPRODUCTICON" Value="BrightIcon" />
    <Property Id="ApplicationFolderName" Value="bright-cli" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="INSTALLDIR" Secure="yes">
      <RegistrySearch Id="InstallPathRegistry" Type="raw" Root="HKLM" Key="$(var.RegistryKeyPath)" Name="InstallPath" />
      <RegistrySearch Id="InstallPathRegistryCU" Type="raw" Root="HKCU" Key="$(var.RegistryKeyPath)" Name="InstallPath" />
    </Property>
    <Media Id="1" Cabinet="nexploitcli.cab" EmbedCab="yes" />
    <CustomAction Id="NewVersionError" Error="A later version of $(var.ProductName) is already installed. Setup will now exit." />
    <Upgrade Id="74b15b74-a063-4524-ae83-69ad421be456">
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" IncludeMinimum="no" IncludeMaximum="yes" Minimum="0.0.0" Maximum="$(var.ProductVersion)" />
    </Upgrade>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>
    <Icon Id="BrightIcon" SourceFile="$(var.RepoDir)\tools\resources\logo.ico" />
    <Icon Id="WixUIInfoIco" SourceFile="$(var.RepoDir)\tools\resources\logo.ico" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.ProductName)">
          <Component Id="StartMenuShortcuts" Guid="e2f00ece-05ec-4bfe-9607-f438c6ac43eb" DiskId="1">
            <!-- RegistryValue needed because every Component must have a KeyPath.
                                            Because of ICE43, the Root must be HKCU. -->
            <RegistryValue Root="HKCU" Key="$(var.RegistryKeyPath)\Components" Type="integer" Value="1" KeyPath="yes" />
            <util:InternetShortcut Id="OnlineWebsiteShortcut" Name="$(var.ProductName) repository" Target="https://github.com/NeuraLegion/bright-cli" Type="url" />
            <util:InternetShortcut Id="OnlineDocumentationShortcut" Name="$(var.ProductName) documentation" Target="https://docs.brightsec.com/docs/about-bright-cli" Type="url" />
            <Shortcut Id="UninstallProduct" Name="Uninstall $(var.ProductName)" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <Shortcut Id="ExeShortcut" Name="$(var.ProductName)" Icon="BrightIcon" Target="[INSTALLDIR]bright-cli.exe" WorkingDirectory="INSTALLDIR" IconIndex="0" />
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="BrightCLI">
          <Component Id="Executable" Guid="8363278e-56cf-47c1-ba33-77eeaacb2baf" DiskId="1">
            <File Id="nexploitcli.exe" Name="bright-cli.exe" KeyPath="yes" Source="$(var.SourceDir)\bright-cli.exe" Checksum="yes" />
            <File Id="service.node" Name="service.node" Source="$(var.SourceDir)\service.node" Checksum="yes" />
            <File Id="raw.node" Name="raw.node" Source="$(var.SourceDir)\raw.node" Checksum="yes" />
            <File Id="roots.exe" Name="roots.exe" Source="$(var.SourceDir)\roots.exe" Checksum="yes" />
            <File Id="crypt32_x64.node" Name="crypt32-x64.node" Source="$(var.SourceDir)\crypt32-x64.node" Checksum="yes" />
            <File Id="crypt32_ia32.node" Name="crypt32-ia32.node" Source="$(var.SourceDir)\crypt32-ia32.node" Checksum="yes" />
            <File Id="package.json" Hidden="yes" ReadOnly="yes" Name="package.json" Source="$(var.RepoDir)\package.json" />
          </Component>
          <Component Id="RegistryEntries" Guid="1980db82-a237-4df0-8f56-270ab87b18d7" DiskId="1">
            <RegistryValue Root="HKLM" Key="$(var.RegistryKeyPath)" Name="InstallPath" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
            <RegistryValue Root="HKLM" Key="$(var.RegistryKeyPath)" Name="Version" Type="string" Value="$(var.ProductVersion)" />
          </Component>
          <Component Id="EnvironmentPath" Guid="016e4294-b4be-40eb-ae00-f75ec4f1d108" DiskId="1">
            <RegistryValue Root="HKLM" Key="$(var.RegistryKeyPath)\Components" Name="EnvironmentPath" Type="integer" Value="1" KeyPath="yes" />
            <Environment Id="EnvironmentPath" Action="set" Name="PATH" Part="last" System="yes" Value="[INSTALLDIR]" />
          </Component>
          <Component Id="Readme" DiskId="1" Guid="fd8d35cc-2478-4ec9-ad24-e4223721b0f6">
            <File Id="Readme" Name="README.md" Source="$(var.RepoDir)\README.md" />
          </Component>
          <Component Id="License" DiskId="1" Guid="cf0b8704-625c-4bfe-af8e-7441ebab0c06">
            <File Id="License" Name="LICENSE" Source="$(var.RepoDir)\LICENSE" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="BrightRuntime" Level="1" Absent="disallow" Title="$(var.ProductName)" ConfigurableDirectory="INSTALLDIR" Description="Install $(var.ProductName) (bright-cli.exe).">
      <ComponentRef Id="RegistryEntries" />
      <ComponentRef Id="EnvironmentPath" />
      <ComponentRef Id="Executable" />
      <ComponentRef Id="Readme" />
      <ComponentRef Id="License" />
      <ComponentRef Id="StartMenuShortcuts" />
    </Feature>
    <WixVariable Id="WixUICostingPopupOptOut" Value="0" />
    <WixVariable Id="WixUILicenseRtf" Value="$(var.RepoDir)\tools\msi\LICENSE.rtf" />
    <UI Id="InstallUI">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="InstallDir" />
      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">NOT Installed</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">Installed AND PATCH</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="DoAction" Value="WixUIValidatePath" Order="2">NOT WIXUI_DONTVALIDATEPATH</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SpawnDialog" Value="InvalidDirDlg" Order="3"><![CDATA[NOT WIXUI_DONTVALIDATEPATH AND WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg" Order="4">WIXUI_DONTVALIDATEPATH OR WIXUI_INSTALLDIR_VALID="1"</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed AND NOT PATCH</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">Installed AND PATCH</Publish>
      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
      <Property Id="ARPNOMODIFY" Value="1" />
      <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="$(var.ProductName) has been succesfully installed. To run $(var.ProductName) open command prompt (cmd.exe), and run 'bright-cli'." />
    </UI>
    <UIRef Id="InstallUI" />
  </Product>
</Wix>
