$primary-grey: #939598;
$primary-blue: #0ba9b8;
$primary-orange: #ef4036;
$neutral-grey: #e6e7e8;
$secondary-blue: #2a81bc;

div {
    display:inline-block;
    margin: 2rem;
    font-family: 'saira';

    .logo {
        width: 20rem;
        height:2rem;
        float: left;
        padding-right: 2rem;    
    }

    h2 {
        float: left;
        font-size: 2.5em;
        width: 30rem;
        color: $primary-grey;
    }
}

.content-container {
    margin-top: -2rem;
    width: 55rem;
    height: 20rem;
}

.main-container {
    max-width: 60rem;
    height: 45rem;
    border-style: solid;
    border-width: medium;
    border-color: $primary-grey;
    border-radius: 20px;
}

.header-container {
    margin-bottom: -0.5rem;
    margin-top: auto;
}