<div class="content-container">
  <h3 class="upper">Running connectivity diagnostics</h3>
  <h4>Please wait as we perform some tests</h4>
  <form [formGroup]="form">
    <input
      readonly
      formControlName="{{ ConnectivityTest.TCP }}"
      type="checkbox"
    /><label></label>
    <span
      >Connection to <strong>amq.nexploit.app</strong> at
      <strong>port 5672</strong></span
    ><br />
    <input
      readonly
      formControlName="{{ ConnectivityTest.HTTP }}"
      type="checkbox"
    /><label></label>
    <span
      >Connection to <strong>nexploit.app</strong> at
      <strong>port 443</strong></span
    >
    <button
      (click)="restartTest()"
      [disabled]="processing"
      class="button-scan button-move"
    >
      Restart Test
    </button>
    <br />
    <input
      readonly
      formControlName="{{ ConnectivityTest.AUTH }}"
      type="checkbox"
    /><label></label>
    <span>Valid authentication credentials</span>
  </form>
  <h4 class="upper">Progress</h4>
  <ng-container>
    <div class="form-control">
      <div>
        <ng-template
          [ngForOf]="connectivityTests"
          [ngForTrackBy]="trackBy"
          let-type
          ngFor
        >
          <span class="span-msg">{{ type | connectivity }}</span
          ><br />
          <span
            *ngIf="form.get(type)?.value != null"
            [ngClass]="!!form.get(type)?.value ? 'success' : 'fail'"
            class="span-msg"
            >{{
              type
                | connectivity: (!!form.get(type)?.value ? 'success' : 'error')
            }}</span
          ><br />
        </ng-template>
      </div>
    </div>
  </ng-container>
  <div class="buttons-container">
    <button (click)="prev()" class="button-prev">Prev</button>
    <button
      (click)="next()"
      [disabled]="!form.valid"
      class="button"
      type="submit"
    >
      Next
    </button>
  </div>
</div>
