<div class="content-container">
  <h3 class="upper">Running connectivity diagnostics</h3>
  <h4>Please wait as we perform some tests</h4>
  <form [formGroup]="form">
    <input
      type="checkbox"
      formControlName="{{ ConnectivityTest.TCP }}"
    /><label></label>
    <span
      >Connection to <strong>amq.nexploit.app</strong> at
      <strong>port 5672</strong></span
    ><br />
    <input
      type="checkbox"
      formControlName="{{ ConnectivityTest.HTTP }}"
    /><label></label>
    <span
      >Connection to <strong>nexploit.app</strong> at
      <strong>port 443</strong></span
    >
    <button class="button-scan button-move" (click)="restartTest()">
      Restart Test</button
    ><br />
    <input
      type="checkbox"
      formControlName="{{ ConnectivityTest.AUTH }}"
    /><label></label>
    <span>Valid authentication credentials</span>
  </form>
  <h4 class="upper">Progress</h4>
  <ng-container>
    <div class="form-control">
      <div>
        <ng-template ngFor let-type [ngForOf]="connectivityTests">
          <span class="span-msg">{{ type | connectivity }}</span
          ><br />
          <span
            class="span-msg"
            [ngClass]="form.get(type)?.value === true ? 'success' : 'fail'"
            >{{
              type
                | connectivity
                  : (form.get(type)?.value === true ? 'success' : 'error')
            }}</span
          ><br />
        </ng-template>
      </div>
    </div>
  </ng-container>
  <div class="buttons-container">
    <button class="button-prev" (click)="prev()">Prev</button>
    <button
      type="submit"
      class="button"
      [disabled]="!scanFinished || errorOccurred"
      (click)="next()"
    >
      Next
    </button>
  </div>
</div>
