@import '../../containers/app.component';

:host {
  &.ng-invalid {
    input {
      border: 2px solid $error-red;
    }
  }
}

input {
  width: 24rem;
  height: 1.5rem;
  margin-right: -1rem;
  padding-right: 2.5rem;
}

.icon {
  float: right;
  margin-left: -2rem;
  margin-top: 0.4rem;
  position: relative;
  z-index: 2;
}
