@import "../main/main.component.scss";

h3 {
    color: $primary-orange;
}

.form-control {
    width: 94%;
    height: 14rem;
    margin: 0px;
}

.buttons-container {
    margin-left: 2rem !important;
    margin-top: 12rem;
}

.button-move {
    margin-left: 12rem;  
}
