@import "../main/main.component.scss";

h3 {
    color: $primary-orange;
}

.form-control {
    width: 94%;
    height: 14rem;
    margin: 0px;
}

.buttons-container {
    margin-left: 2rem !important;
    margin-top: 12rem;
}

.button-move {
    margin-left: 12rem;  
}

input[type=checkbox] {
    display: none;
}

label:before {
    background: linear-gradient(to bottom, #fff 0px, #e6e6e6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    outline:1px solid black;
    margin-right: 1rem;
}

input[type=checkbox] + label:before {
    content: '';
    color:  #96be0a;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

input[type=checkbox]:checked + label:before {
    content: '✓';
}
