<div class="content-container">
  <h3>RUNNING CONNECTIVITY DIAGNOSTICS</h3>
  <h4>Please wait as we perform some tests</h4>
  <input type="checkbox" [checked]="status? status.tcp.ok : false" disabled/><label for="cb"></label>
  <span>Connection to <b>amq.nexploit.app</b> at <b>port 5672</b></span><br/>
  <input type="checkbox" [checked]="status? status.https.ok: false" disabled/><label for="cb"></label>
  <span>Connection to <b>nexploit.app</b> at <b>port 443</b></span>
  <button class="button-scan button-move" (click)="restartTest()">Restart Test</button><br/>
  <input type="checkbox" [checked]="status? status.auth.ok : false" disabled/><label for="cb"></label>
  <span>Valid authentication credentials</span>
  <h4>PROGRESS</h4>
  <div class="form-control">
    <div>
      {{tcpMsg}}<br/>{{status? status.tcp.msg : ''}}<br/>
      {{httpsMsg}}<br/>{{status? status.https.msg : ''}}<br/>
      {{authMsg}}<br/>{{status? status.auth.msg : ''}}<br/>
    </div>
  </div>
</div>
<div class="buttons-container">
  <button  class="button-prev" (click)="prev()">Prev</button>
  <button type="submit" class="button" (click)="next()">Next</button>
</div>
