name: E2E Tests

run-name: E2E Tests (${{ inputs.version || 'latest' }}, ${{ inputs.environment }})

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Bright CLI version (e.g.: v13.1.0). Leave empty for latest."
        required: false
        type: string
      test-docker:
        type: boolean
        description: "Test Docker"
        default: true
      test-executables:
        type: boolean
        description: "Test Executables"
        default: true
      test-msi:
        type: boolean
        description: "Test MSI"
        default: true
      test-npm:
        type: boolean
        description: "Test NPM"
        default: true
      environment:
        type: choice
        default: staging
        description: Environment
        options:
          - production
          - staging
          - development
      test_timeout:
        description: "Test timeout in seconds"
        default: 5000
        type: number
  workflow_call:
    inputs:
      version:
        description: "Bright CLI version (e.g.: v13.1.0). Leave empty for latest."
        required: false
        type: string
      environment:
        type: string
        default: staging
        description: Environment
      test_timeout:
        description: "Test timeout in seconds"
        default: 5000
        type: number

jobs:
  e2e:
    uses: ./.github/workflows/test-cli.yml
    with:
      version: ${{ inputs.version || '' }}
      environment: ${{ inputs.environment }}
      test_timeout: ${{ inputs.test_timeout }}
      test_script: test:e2e
      with_wiremock: true
      test_executables: ${{ inputs.test-executables }}
      test_msi: ${{ inputs.test-msi }}
      test_docker: ${{ inputs.test-docker }}
      test_npm: ${{ inputs.test-npm }}
    secrets: inherit
